@using MechAppProject.Models

@using System.Diagnostics.Eventing.Reader
@using PagedList.Mvc
@model PagedList.IPagedList<WorkshopServiceModel>
<link href="~/Content/css/pagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "WorkshopServiceModel";

    if (Session["LoginWorkshop"] != null)
    {

        Layout = "~/Views/Shared/_WorkshopLayout.cshtml";
    }
}
<div class="container navspace">
    <div class="card shadow">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h3>Twoje usługi</h3>
                    <table class="table">
                        <tr>
                            <th>
                                Nazwa
                            </th>
                            <th>
                                Opis
                            </th>
                            <th>
                                Cena
                            </th>
                            <th>
                                Czas
                            </th>
                        </tr>


                        @foreach (var workshopService in Model)
                        {
                            <tr class="workshop-service-data-@workshopService.ServiceId">
                                <td>
                                    <div>
                                        @workshopService.Title
                                    </div>
                                </td>


                                <td>
                                    <div>
                                        @workshopService.Description
                                    </div>
                                </td>

                                <td>
                                    <div>
                                        @(workshopService.Price).@workshopService.PriceDecimal
                                    </div>
                                </td>

                                <td>
                                    <div>
                                        @workshopService.DurationInHours h @workshopService.DurationInMinutes min
                                    </div>
                                </td>
                                <td>
                                    <span class="workshop-service-remove" data-id="@workshopService.ServiceId">
                                        <i class="fas fa-trash-alt"></i>
                                    </span>
                                </td>
                            </tr>
                            
                        }

                    </table>
                    Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount

                    @Html.PagedListPager(Model, page => Url.Action("YourServices", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                </div>
            </div>

        </div>
    </div>
    <div class="form-group align-content-end">
        <div class="col-xs-12 d-block">
            <a class="m-1 btn btn-primary" href="@Url.Action("AddService", "Workshop" )">Dodaj</a>
        </div>
    </div>
</div>

<style>
    .workshop-service-remove {
        cursor: pointer;
        transition: 0.2s;
        font-size: 20px;
    }

        .workshop-service-remove:hover {
            color: red;
        }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $('.workshop-service-remove').on('click', function () {
            var currentWorkshopServiceId = $(this).attr('data-id');
            var serviceURL = '@Url.Action("DeleteWorkshopService", "Workshop")' + '?workshopServiceId=' + currentWorkshopServiceId;

            $.ajax({
                type: "GET",
                url: serviceURL,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc
            });

            function successFunc(data) {
                var workshopServiceId = data.workshopServiceId;
                $('.workshop-service-data-' + workshopServiceId).hide('slow');
            }

            function errorFunc(jqXHR, exception) {

            }
        });
    });
</script>

