@using MechAppProject.Models

@using System.Diagnostics.Eventing.Reader
@using PagedList.Mvc
@model PagedList.IPagedList<WorkshopServiceModel>
<link href="~/Content/css/pagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "WorkshopServiceModel";

    if (Session["LoginWorkshop"] != null)
    {

        Layout = "~/Views/Shared/_WorkshopLayout.cshtml";
    }
}
<div class="container navspace">
    <div class="card shadow">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h3>Twoje usługi</h3>
                    <table class="table">
                        <tr>
                            <th>
                                Nazwa
                            </th>
                            <th>
                                Opis
                            </th>
                            <th>
                                Cena
                            </th>
                            <th>
                                Czas
                            </th>
                        </tr>


                        @foreach (var workshopService in Model)
                        {
                            <tr>
                                <td>
                                    <div>
                                        @workshopService.Title
                                    </div>
                                </td>


                                <td>
                                    <div>
                                        @workshopService.Description
                                    </div>
                                </td>

                                <td>
                                    <div>
                                        @(workshopService.Price).@workshopService.PriceDecimal
                                    </div>
                                </td>

                                <td>
                                    <div>
                                        @workshopService.DurationInHours h @workshopService.DurationInMinutes min
                                    </div>
                                </td>
                            </tr>


                        }

                    </table>
                    Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount

                    @Html.PagedListPager(Model, page => Url.Action("YourServices", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                </div>
            </div>
            
        </div>
    </div>
    <div class="form-group align-content-end">
        <div class="col-xs-12 d-block">
            <a class="m-1 btn btn-primary" href="@Url.Action("AddService", "Workshop" )">Dodaj</a>
        </div>
    </div>
</div>

