@using MechAppProject.Models

@model PagedList.IPagedList<MechAppProject.Models.WorkshopModel>
@using PagedList.Mvc;
<link href="~/Content/css/pagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "WorkshopList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="text-white bg-search">
    <div class="container">
        <div class="searchbar">
                @using (Html.BeginForm("Search", "Home", FormMethod.Get))
                {
                    <input class="search_input" id="SearchString" type="text" name="SearchString" placeholder="Wpisz miasto w którym szukasz pomocy...">
                    <button type="submit" value="Filter" class="search_icon btn">
                        <i class="fas fa-search"></i>
                    </button>
                }
        </div>
    </div>
</header>

<div class="container navspace">

        


    @foreach (var workshop in Model)
    {
        <div class="card shadow workshop-card" onclick="location.href = '@Url.Action("Details", "Home", new {workshopId = workshop.WorkshopId})';" style="cursor: pointer;">
            <div class="card-body">
                <div class="row">
                    <div class="col-2 align-self-start">
                        <img src="~/Content/img/profile.png" class="img-fluid rounded" alt="..." width="100">
                        @*div class="mt-2 d-flex justify-content-center">
            <span class="fa-sm fa fa-star checked"></span>
            <span class="fa-sm fa fa-star checked"></span>
            <span class="fa-sm fa fa-star checked"></span>
            <span class="fa-sm fa fa-star"></span>
            <span class="fa-sm fa fa-star"></span>
        </div>*@
                    </div>

                    <div class="col-6 align-self-start">
                        <div class="">
                            <h4 class="card-title">@Html.DisplayFor(modelItem => workshop.WorkshopName)</h4>

                            <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => workshop.City)</h6>
                            
                            
                            
                            @*<p class="card-text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            </p>
                            <span class="badge badge-secondary">Skoda</span> <span class="badge badge-secondary">Opony</span>*@

                        </div>
                    </div>
                    <div class="col-4 d-flex justify-content-end align-items-end">
                        <div><a class="m-1 btn btn-secondary" href="@Url.Action("Details", "Home", new {workshopId = workshop.WorkshopId})"><i class="fas fa-user"></i></a></div>

                        @if (Session["Login"] != null)
                        {
                            <div><a class="m-1 btn btn-primary" href="@Url.Action("Index", "Chat", new {workshopId = workshop.WorkshopId})"><i class="far fa-comment-dots"></i></a></div>
                            <div><a class="m-1 btn btn-primary" href="@Url.Action("AddEvent", "Events", new {workshopId = workshop.WorkshopId})">Zarezerwuj</a></div>
                        }
                    </div>

                </div>
            </div>
        </div>

    }

    Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Search", new {page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter}))

</div>