<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MechApp</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
    


    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/Content/css/styles.css" rel="stylesheet">
    <!-- Fonts CSS-->
    <link rel="stylesheet" href="~/Content/css/fonts.css">
    <link rel="stylesheet" href="~/Content/css/chat.css">
    <link rel="stylesheet" href="~/Content/css/mystyles.css" >
</head>

<body>

    @Html.Partial("_navbarPartial")

    @Scripts.Render("~/bundles/jquery")
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
    @RenderBody()

    @Html.Partial("_footerPartial")

    @Scripts.Render("~/bundles/animated-event-calendar")
    @Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<!-- Core theme JS-->

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCxh5rgjuQjSO79-Wo26BWSeTqqUyGZo90&callback=initMap"
        type="text/javascript">
</script>


</body>
</html>