@using MechAppProject.Models;

@if (Session["Login"] != null)
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item mx-0 mx-lg-1">@Html.ActionLink("Witaj " + (Session["Login"] as SessionModel).UserLogin, "Index", "Home", null, new { @class = "nav-link py-3 px-0 px-lg-3 rounded" })</li>
        <li class="nav-item mx-0 mx-lg-1">@Html.ActionLink("Logout", "CustomerLogout", "Account", null, new { @class = "nav-link py-3 px-0 px-lg-3 rounded" })</li>
    </ul>
}
else if (Session["LoginWorkshop"] != null)
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item mx-0 mx-lg-1">@Html.ActionLink("Witaj " + (Session["LoginWorkshop"] as SessionModel).WorkshopLogin, "Index", "Home", null, new { @class = "nav-link py-3 px-0 px-lg-3 rounded" })</li>
        <li class="nav-item mx-0 mx-lg-1">@Html.ActionLink("LogoutWorkshop", "LogoutWorkshop", "Account", null, new { @class = "nav-link py-3 px-0 px-lg-3 rounded" })</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item mx-0 mx-lg-1">@Html.ActionLink("Logowanie", "CustomerLogin", "Account", null, new { @class = "nav-link py-3 px-0 px-lg-3 rounded" })</li>
        <li class="nav-item mx-0 mx-lg-1">@Html.ActionLink("Rejestracja", "CustomerRegister", "Account", null, new { @class = "nav-link py-3 px-0 px-lg-3 rounded" })</li>
    </ul>
}