<!-- Sidebar -->
    <ul class="navbar-nav bg-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index", "Home")">
            <div class="sidebar-brand-text mx-3">MechApp</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="@Url.Action("Index", "Workshop")">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Panel</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Funkcje
        </div>

        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Chat")">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Wiadomości</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOrder" aria-expanded="true" aria-controls="collapseOrder">
                <i class="fas fa-fw fa-folder"></i>
                <span>Zlecenia</span>
            </a>
            <div id="collapseOrder" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Bierzące</h6>
                    <a class="collapse-item" href="@Url.Action("Table", "Workshop")">Oczekujące</a>
                    <a class="collapse-item" href="@Url.Action("Table", "Workshop")">Przyjęte</a>
                    <a class="collapse-item" href="@Url.Action("Table", "Workshop")">Gotowe</a>
                    <div class="collapse-divider"></div>
                    <h6 class="collapse-header">Inne</h6>
                    <a class="collapse-item" href="@Url.Action("Table", "Workshop")">Historia</a>
                </div>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("YourServices", "Workshop")">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Usługi</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("AddService", "Workshop")">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Dodaj usługę</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
<!-- End of Sidebar -->
