@model MechAppProject.Models.CustomerModel
@{
    ViewBag.Title = "Register";
}




<div class="container navspace">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-3 d-none d-lg-block bg-secondary"></div>
                        <div class="col-lg-9">
                            <div class="p-5">

                                <fieldset>
                                    <legend>
                                        <h1 class="h4 text-gray-900 mb-4 text-center">Cześć, chcesz się zarejestrować?</h1>
                                    </legend>
                                    @using (Html.BeginForm("CustomerRegister", "Account", FormMethod.Post, new { @class = "user" }))
                                    {
                                        <table>
                                            <tr>
                                                <td>
                                                    @Html.LabelFor(model => model.Login)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.Login, new { @class = "form-control form-control-user" })
                                                </td>
                                            </tr>

                                            <tr>
                                                <td></td>
                                                <td colspan="2">
                                                    @Html.ValidationMessageFor(model => model.Login, null, new { @class = "text text-danger" })
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    @Html.LabelFor(model => model.Password)
                                                </td>
                                                <td>
                                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control form-control-user" })
                                                </td>
                                            </tr>

                                            <tr>
                                                <td></td>
                                                <td colspan="2">
                                                    @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text text-danger" })
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    @Html.LabelFor(model => model.ConfirmPassword)
                                                </td>
                                                <td>
                                                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control form-control-user" })
                                                </td>
                                            </tr>

                                            <tr>
                                                <td></td>
                                                <td colspan="2">
                                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "text text-danger" })
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    @Html.LabelFor(model => model.Email)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control form-control-user" })
                                                </td>
                                            </tr>

                                            <tr>
                                                <td></td>
                                                <td colspan="2">
                                                    @Html.ValidationMessageFor(model => model.Email, null, new { @class = "text text-danger" })
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    @Html.LabelFor(model => model.Name)
                                                </td>
                                                <td>
                                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control form-control-user" })
                                                </td>
                                            </tr>

                                            <tr>
                                                <td></td>
                                                <td colspan="2">
                                                    @Html.ValidationMessageFor(model => model.Name, null, new { @class = "text text-danger" })
                                                </td>
                                            </tr>
                                            <tr>

                                                <td>
                                                    <br />
                                                    <input class="btn btn-secondary btn-user btn-block clean" type="reset" value="Wyczyść" />
                                                </td>
                                                <td>
                                                    <br />
                                                    <table>
                                                        <tr>
                                                            <td>

                                                                <input class="btn btn-primary btn-user btn-block" type="submit" value="Zarejestruj" />
                                                            </td>

                                                        </tr>
                                                    </table>

                                                </td>
                                            </tr>

                                        </table>
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-2">
                                                <label class="label-success">@ViewBag.SuccessMessage</label>
                                            </div>
                                            <div class="col-md-offset-2 col-md-2">
                                                <label class="label-danger">@ViewBag.DuplicateMessageLogin</label>
                                            </div>
                                            <div class="col-md-offset-2 col-md-2">
                                                <label class="label-danger">@ViewBag.DuplicateMessageEmail</label>
                                            </div>
                                        </div>
                                    }
                                </fieldset>

                                <hr>

                                <div class="">
                                    <div class="float-left">
                                        @Html.ActionLink("Zaloguj się jako Klient", "CustomerLogin", "Account", null, null)
                                    </div>
                                    <div class="float-right">
                                        @Html.ActionLink("Zarejestruj się jako Warsztat", "WorkshopRegister", "Account", null, null)
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

