@model MechAppProject.Models.CarModel
@{
    ViewBag.Title = "AddNewCar";
}

<div class="container navspace">
    <div class="card shadow">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    @using (Html.BeginForm("AddNewCar", "AddCar", FormMethod.Post))
                        {

                            <form class="form-horizontal">
                                <fieldset class="fieldset">
                                    <h3 class="fieldset-title">Dodaj nowe auto</h3>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Brand)
                                        <div class="col-xs-12">
                                            @Html.TextBoxFor(model => model.Brand, new { @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Brand, null, new { @class = "text text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Model)
                                        <div class="col-xs-12">
                                            @Html.TextBoxFor(model => model.Model, new { @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Model, null, new { @class = "text text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.EngineType)
                                        <div class="col-xs-12">
                                            @Html.TextBoxFor(model => model.EngineType, new { @class = "form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.EngineType, null, new { @class = "text text-danger" })
                                    </div>
                                </fieldset>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <input class="btn btn-primary " type="submit" value="Dodaj">
                                    </div>
                                </div>
                            </form>

                        }

                </div>
            </div>
        </div>
    </div>
</div>

