@using MechAppProject.Models

@model List<CarModel>

@{
    ViewBag.Title = "YourCarDetails";
}
<div class="container navspace">
    <div class="card shadow">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h3>Twoje samochody</h3>
                    <table class="table" style="margin-bottom: 50px;">
                        <tr>
                            <th>
                                Marka
                            </th>
                            <th>
                                Model
                            </th>
                            <th>
                                Typ silnika
                            </th>
                            <th></th>
                        </tr>

                        @foreach (var item in Model)
                        {
                            <tr class="car-data-@item.CarId">
                                <td>
                                    @item.Brand
                                </td>
                                <td>
                                    @item.Model
                                </td>
                                <td>
                                    @item.EngineType
                                </td>
                                <td>
                                    <span class="car-remove" data-id="@item.CarId">
                                        <i class="fas fa-trash-alt"></i>
                                    </span>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 ">
                    <a class="m-1 btn btn-primary" href="@Url.Action("AddNewCar", "AddCar" )">Dodaj</a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .car-remove {
        cursor: pointer;
        transition: 0.2s;
        font-size: 20px;
    }

    .car-remove:hover {
        color: red;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $('.car-remove').on('click', function () {
            var currentCarId = $(this).attr('data-id');
            var serviceURL = '@Url.Action("DeleteCar", "AddCar")' + '?carId=' + currentCarId;
            
            $.ajax({
                type: "GET",
                url: serviceURL,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: successFunc,
                error: errorFunc
            });

            function successFunc(data) {
                var carId = data.carId;
                $('.car-data-' + carId).hide('slow');
            }

            function errorFunc(jqXHR, exception) {

            }
        });
    });
</script>


