@using System.Diagnostics.Eventing.Reader
@using PagedList.Mvc
@model PagedList.IPagedList<MechAppProject.Models.DisplayEventModel>
<link href="~/Content/css/pagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "DisplayWorkshopEvents";
    
    if (Session["LoginWorkshop"] != null)
    {

        Layout = "~/Views/Shared/_WorkshopLayout.cshtml";
    }
}

    <div class="container navspace">
        <h2>Rezerwacje</h2>



                        @{
                            var index = 0;
                        }

                        @foreach (var workshopEvent in Model)
                        {
                            <div class="card shadow">
                                <div class="card-body">
 
                                    <div class="row">
                                        <div class="col">

                            <div><b>Klient</b></div>
                            <p>@workshopEvent.CustomerName</p>
                                            
                                            

                                            <div><b>Data:</b></div>
                            <p>@workshopEvent.StartDate.ToString("MM/dd/yyyy hh:mm") - @workshopEvent.EndDate.ToString("hh:mm")</p>

                            @using (Html.BeginForm("ChangeEventStatus", "Events", FormMethod.Post))
                            {
                                <div><b>Status:</b></div>

                                @Html.EnumDropDownListFor(x => x[index].StatusId, "-", new { @class = "form-control" })
                                @Html.HiddenFor(x => x[index].ServiceEventId)
                                <input type="hidden" name="Index" value="@index" />

                                <button type="submit" class="btn btn-info" style="margin-top: 10px;">Zmień status</button>
                            }
                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                            index++;

                        }
                        
                        Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount

                        @Html.PagedListPager(Model, page => Url.Action("DisplayWorkshopEvents", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
    </div>

